<form class="searchcont-container mat-elevation-z8" (ngSubmit)="onSubmit(transFrm)"  [formGroup]="transFrm">
  <h2>Search Transaction</h2>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Sku</mat-label>
      <input matInput placeholder="Sku" formControlName="sku">
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Search</button>
  </div>
</form>