<div class="spinner" *ngIf="loadingState; else translist">
  <mat-spinner></mat-spinner>
</div>
<ng-template class="transactionslist" #translist>
  <mat-dialog-content>
    <h2 style="text-align: center;">Transactions for {{ sku }}</h2>
    <h2 style="text-align: center;">Total: € {{ total }}</h2>
    <div class="transactionslist-container mat-elevation-z8">
      <table mat-table #table [dataSource]="dataSource">
        <!-- Sku Column -->
        <ng-container matColumnDef="sku">
          <th mat-header-cell *matHeaderCellDef>Sku</th>
          <td mat-cell *matCellDef="let element">{{ element.sku }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">€ {{ element.amount }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <h2 style="text-align: left;">Total: € {{ total }}</h2>
  </mat-dialog-content>
</ng-template>
